$bgcolor:red;
$white:#ffff;
$navbg:#eee;
$navwidth: 100%;
$navheight:5rem;
// $blue:rgb(4, 42, 87);
$blue: #2d529f;
$primary: #0484cf;
$light-primary:#008fe2;
//  #0092e4
$dark-gray: #747474;
$gray:#917777;
$light-gray:#807795;
$black:#1d2127;
// $navItemColor: #ffff;


