.nav{
    background-color: $navbg;
    width: $navwidth;
    height: $navheight;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px 20px 0 ;
    // padding: 0px 80px 0px 50px;

    align-items: center;
    
    &__items{
        padding: 0;
        
    }

}