*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: #ffffff;
    // padding: 0px 65px 0px 40px;

}

.section{
    padding: 25px 65px 25px 40px;
    margin: 25px 0 25px 0;
}
